<p>list works!</p>

<!-- <div class="container">
    <table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">start</th>
            <th scope="col">day</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let month of months">
            <td>{{ month.fields.name }}</td>
            <td>{{ month.fields.starting_weekday }}</td>
            <td>{{ month.fields.days }}</td>
            <td>
                <a class="btn btn-primary" routerLink="/month/{{month.pk}}" role="button">Otworz</a>
            </td>
            <td>
                <a class="btn btn-primary" (click)="removeMonth(month)" role="button">Usun</a>
            </td>
        </tr>
    </tbody>
</table>
</div> -->

<ol>
  <li>
    <mat-form-field appearance="fill">
      <mat-label>What's your name?</mat-label>
      <input matInput (ngModel)="name">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>
